.company-logo {
  width: 60%;
}

#title .container-fluid {
  padding: 3% 10% 10%;
  text-align: left;
  z-index: 1;
}

#title {
  background-color: #DBE2EF;
}

.header-section {
    height: 897px;
}

.title-heading {
  padding: 5% 5% 5%;
  position: absolute;
  z-index: 1;
}

.title-paragraph {
  margin-right: 100px;
}

#footertext {
  text-align: center;
  padding: 3% 0% 0%;
}

.branding {
  text-align: center;
  width: 100%;
  padding-top: 2%;
}

.nav-item{
   text-align: right;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  max-width: 600px;
}

.navbar {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 20px;

}

span {
  color: #3f72af;
}

.swoosh {
  width: 100%;
  position: relative;
  z-index: 0;
  top: -100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #112d4e;
  z-index: 1;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}


body {
background-color: #F9F7F7;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-right: 100px;
}

.mockup {
  width: 90%;
  position: relative;
  right: 0%;
}

.btn-outline-dark {
  background-color: #3f72af;
  color: #f9f7f7;
}

.btn-outline-dark:hover {
    background-color: #112D4E !important;
}

.title-button {
  margin: 5% 3% 5% 0;
  color: #f9f7f7;
}

/*-- -------------------------- -->
<---           CIRCLES          -->
<--- -------------------------- -*/

#circles {
  position: relative;
  margin-top: 100px;
}

.topper {
    margin-bottom: 50px;
}

.circles {
    padding-top: 50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3f72af;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-bottom: 45px;
    position: relative;
}

.circle:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #3f72af;
    opacity: .6;
    z-index: -1;
}

.circle:after {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #3f72af;
    opacity: .3;
    z-index: -1;
}

.circle span {
    color: #fff;
    font-size: 2em;
}

.circle-box {
    margin-bottom: 100px;
}

.circle-box h3 {
    text-align: center;
    margin: 15px auto;
    font-size: 1.3em;
}

.circle-box p {
    text-align: center;
}

.circles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative;
    }

    .circles:before {
        content: '';
        position: absolute;
        width: 800px;
        left: 130px;
        top: 75px;
        z-index: -1;
        border: 1px dashed #3f72af;
    }

    .circle-box {
        width: 300px;
    }

@media (max-width: 1028px) {
  #title .container-fluid {
    text-align: left;
  }

  .title-heading {
    text-align: center;
  }

  .big-heading {
    margin-right: 0px;
  }

  .title-paragraph {
    margin-right: 0px;
  }

  .header-section {
      height: auto;
  }

  .mockup {
    position: static;
    transform: rotate(0);
  }

  .company-logo {
    width: 80%;
  }

  #what-we-do {
    position: relative;
  }

  .title-heading {
    position: relative;
  }

  #title-img {
    display: none;
  }

  #footer {
      text-align: center;
      font-size: 30px;
    }

  .circles {
    flex-direction: column;
    margin: 0 auto;
  }

  .circle-box {
    margin: 0 auto 0;
    padding-top: 10px;
  }

  .circles:before {
    display: none;
  }

}

@media (max-width: 1650px) {
  #title {
    text-align: center;
  }

  .title-heading {
    text-align: center;
  }

  .big-heading {
    margin-right: 0px;
  }

  .title-paragraph {
    margin-right: 0px;
  }

  .header-section {
      height: auto;
  }

  .mockup {
    position: static;
    transform: rotate(0);
  }

  .company-logo {
    width: 80%;
  }

  #what-we-do {
    position: relative;
  }

  .title-heading {
    position: relative;
  }

  #title-img {
    display: none;
  }

  #footer {
      text-align: center;
      font-size: 30px;
    }

}
